<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/public-layout.html :: 'head' ">
</head>
<body>
	<header th:replace="layouts/public-layout.html :: 'header' ">
	</header>

	<main class="container">
		<div class="row">
			<section class="col-sm-6">
				<div class="portfolio-item">
					<img class="img-fluid" th:src="@{/img/Monster_Portada.png}"
						th:title="Comercializadora_Monster"
						th:alt="Comercializadora_Monster" />
				</div>
			</section>
			<section class="col-sm-6 card border-secondary pb-4 mt-6">
				<h6 class="card-header">Actualizar las Credenciales</h6>
				<div class="alert alert-info m-3" role="alert"
					th:if="${message != null}" th:text="${message}"></div>
					
				<form th:action="@{/auth/change-credentials}" method="post">
				
					<div class="mb-3">
						<label for="currentPass" class="form-label">Contraseña Actual:</label> <input name="currentCredential" type="password" class="form-control"
							id="currentPass" aria-describedby="emailHelp" autofocus required>
							
					</div>
					<div class="mb-3">
						<label for="newPass" class="form-label">Contraseña Nueva:</label> <input
							name="newCredential" type="password" class="form-control"
							id="newPass" required>
					</div>
					<div class="mb-3">
						<label for="confirmNewPass" class="form-label">Confirmar Contraseña Nueva:</label> <input
							name="confirmNewCredential" type="password" class="form-control"
							id="confirmNewPass" required>
					</div>
					<input type="hidden" name="username" value="${username}"/>
					<div class=" row justify-content-md-center c">
						<div class="col-sm-3"
							style="display: flex; justify-content: center;">
							<button type="submit" class="btn  btn-secondary">Ingresar</button>
						</div>
					</div>
				</form>
			</section>
		</div>
	</main>
	<footer th:replace="layouts/public-layout.html :: 'footer' ">
	</footer>
</body>
</html>